*{
  margin: 0;
  padding: 0;
}
header{
  position: static;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(4, 4, 39);
  color: aliceblue;
  padding: 10px;
  position: sticky;

}
.search input{
  padding: 8px;
  width: 50%;
  border-radius: 10px;
  /* margin-left: 15px; */
}
.search{
  width: 60%;
}
a{
  list-style: none;
  text-decoration: none;
  
}
.cart{
  width: 20%;
  /* margin-left: 10px; */
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bold;
}
.logo{
  width: 20%;
  /* margin-left:6px; */
  text-decoration: none;
  margin-left: 15px;
  font-size: 1.5rem;
  font-weight: bold;
}
.wrapper{
background-color: rgb(19, 19, 86);
display: flex;
justify-content: space-between;
font-size: 15px;
color: aliceblue;
padding: 16px;
font-weight: bold;
}
.container{
  margin-right: 20px;
}
.detail{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 2rem;
}
 .image>img{
height: 300px;
width: 300px;
}
.pro{
margin-top: 100px;
}